<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<%- include("./partials/header") %> 
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">

		<% for( let i = 0; i < 1 ; i++ ) { %>

		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%=informacion[i].nombreDelProducto%>
				</h2> 
			<p class="product-detail-description">
				<a href="/products/product-add">Editar</a>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=informacion[i].imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=informacion[i].descripcion%>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="<%= informacionUsuario[i].fotoPerfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"><%= informacionUsuario[i].usuario%> </a> </strong>
								<%= informacionUsuario[i].comentario%> </p>
							</div>
						</article>
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
		<% } %>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- footer -->
</body>	
</html>





