<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- product detail -->
	<div class="container products-wrapper">



		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= resultado.nombreProducto %>
				</h2> 
			<p class="product-detail-description">
			<% if (locals.user) {%>
				<% if (locals.user.id == resultado.usuario_id) {%>	
					<a href="/products/product-edit/<%=resultado.id%>">Editar</a>
					<form  action="/products/<%=resultado.id %>" method="post"><button class="eliminar-button" type="submit">Eliminar el producto</button></form>
				<% } %>
			<% } %>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%-resultado.imagenProducto %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Publicación de <strong> <a href="/user/profile/<%=resultado.usuario.id%>">@<%= resultado.usuario.usuario %> </a> </strong> <br><br>
						Descripcion: <br> <%= resultado.descripcionProducto %>
						<br>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<strong><p class="user">Comentarios</p></strong>
					<% for( let i = 0; i < comentario.length ; i++ ) { %>

						<% if (resultado.comentario.length == 0) {%>
							<div class="data">
								<p class="user"> <strong> No hay comentarios </strong></p>
							</div>

						<% } else{ %>
						<article>
							<img src="<%- comentario[i].usuario.imagenPerfil %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/user/profile/<%=comentario[i].usuario.id%>"><%=comentario[i].usuario.usuario %></a> </strong>
								<%=comentario[i].comentario %></p>
							</div>
						</article>
						<% } %>
					<% } %>

					</section>
					<% if (locals.user) { %>

					<form class="form" action="/products/comentario/<%=resultado.id%>" method="POST">
						<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>

					<% } else { %>
						<p class="form" text="big">Debe estar logeado para comentar</p>
						<% } %>

					<hr>
				</div>
			
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- footer -->
</body>	
</html>





