<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<%- include("./partials/header") %> 
	<!-- Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>

			<% for (let i=6; i<10;i++){ %>

				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products">
							<figure class="product-box_image">
								<img src="<%=informacion[i].imagen %>" alt="<%=informacion[i].nombreDelProducto %>">
							</figure>
							<article class="product-box_data">
								<h2><%=informacion[i].nombreDelProducto %></h2>
								<p><%=informacion[i].descripcion %></p>
								<p>Comentarios: <%=informacion[i].comentarios%></p>
							</article>
							</a>
					</section>
				</div>
				<% } %>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>